@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Nunito:wght@400;700&family=Open+Sans:ital,wght@1,300&family=Poppins&family=Roboto&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

/* || RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* || UTILITY STYLE */

:root {
    --STANDERED-PADDING: 10px 20px;
    --PRIMARY-COLOR: #fff;
    --SECONDERY-COLOR: #000;
}

body {
    transition: all 0.4s;
    background-color: #6AEED8;
    background-color: #05dcb8;
    border-right: 0 !important;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
}

li {
    list-style: none;
}

.created-notes, .add-note , .settings, .modification-menu, .update-delete_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* || LEFT CONTAINER */
.left-container {
    max-width: 430px;
    min-width: 200px;
    width: 28%;
    height: 100vh;
    background-color: #010f30 ;
    padding: var(--STANDERED-PADDING);
    color: var(--SECONDERY-COLOR);
    overflow-y: scroll;
    position: relative;
    transition: all 0.4s linear;
}

.left-container h1 {
    color: var(--PRIMARY-COLOR);
    padding: 10px 0 0 ;
    font-size: 40px;
    font-weight: 500;
}

.left-container .modification-menu {
    max-width: 430px;
    min-width: 200px;
    width: 27%;
    position: fixed;
    top: 0;
    z-index: 44;
    gap: 10px;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
    background-color: #010f30 !important;
}

.left-container .update-delete_menu {
    transition: all 0.4s ease;
    gap: 10px;
    position: absolute;
    right: 15px;
    top: -100px;
    background-color: #010f30 ;
}

.created-notes {
    flex-direction: column;
    gap: 15px;
    margin-top: 100px;
}

.notes-list:not(:first-child) {
    width: 100%;
    height: 100px;
    max-height: 120px;
    border-radius: 10px;
    background-color: #F6D8E3;
    border-right: 10px solid #F6D8E3;
    padding: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.notes-list .notes-list__heading, .notes-list .notes-list__content {
    white-space: nowrap;
}

.notes-list .notes-list__heading {
    font-size: 20px;
}

.notes-list .notes-list__content  {
    color: #1e1e1e;
    font-size: 17px;
}

 .selected-note {
    position: absolute;
    right: 20px;
    top: 32px;
    font-size: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fd3f3c;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.selected-note .icon{
    position: absolute;
    color: #fd3f3c;
    opacity: 0;
}

.selected-note .icon i {
    opacity: 0;
}

.notes-list .notes-list__date {
    font-size: 12px;
    color: #2b2b2b;
    font-weight: 100;
    font-family: cursive;
}

.left-container .add-note {
    position: fixed;
    left: 17%;
    bottom: 60px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: scale 0.4s ease;
}

.add-note .add-note_icon {
    background-color: #ef5350;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-note:hover {
    scale: 1.1;
}

.add-note_icon i {
    color: #fff;
    font-size: 39px;
}

/* || RIGHT CONTAINER */
.right-container {
    width: 75%;
    height: 100vh;
    position: relative;
    padding: 30px 35px;
    overflow-y: scroll;
    transition: all 0.2s linear;
}

.add-note__box {
   width: 100%;
}

.add-note__box :where(input, textarea) {
    border: none;
    outline: none;
    width: 100%;
    display: inline-block;
    caret-color: orange;
    color: #353535;
    z-index: 66;
}

::placeholder {
    font-weight: 700;
    white-space: nowrap;
}

.add-note__box textarea {
    resize: none;
    height: 57vh;
    font-size: 18px;
    background-color: #d4f2e5;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px;
    font-weight: 700;
}

.add-note__box .date{
   color: #4c4b4b;
   margin-block: 20px 30px ;
   font-weight: 600;
   padding-left: 10px;
   font-size: 19px;
   white-space: nowrap;
}

.date i {
    font-size: 21px;
    padding-right: 5px;
}

.add-note__box .title {
    font-size: 32px;
    background-color: #d4f2e5;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 16px;
    padding: 10px 20px;
    color: #000000;
}

.settings {
    position: absolute;
    top: 120px;
    right: 48px;
    gap: 20px;
}

.settings button, .update-delete_menu button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    outline: none;
    border-radius: 10px;
    border: none;
    transition: scale 0.2s ease;
    background-color: #ef5350;
    color: #fff;
    cursor: pointer;
}

.modification-menu .update-delete_menu .update i{
   margin-left: 2px;
   font-size: 26px;
}

.settings  button:hover, .modification-menu .update-delete_menu button:hover  {
    scale: 1.1;
    cursor: pointer;
}

/* || CHANGE COLORS */
.change-color {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    height: 70px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 50px ;    
}

::-webkit-scrollbar {
    display: none;
}

.change-color li {
    min-width: 44px;
    height: 44px;
    background-color: red;
    border-radius: 50px ;
    cursor: pointer;
    transition: scale 0.3s ease;
    padding-block: 10px;
}

.change-color li:hover {
   scale: 1.1;
}

#red {
    background-color: #f57270;
}

#green {
    background-color: #66bb6a;
}

#amber {
    background-color: #ffca28;
}

#blue {
    background-color: #42a5f5;
}

#gray {
    background-color: #bdbdbd;
}

#pink {
    background-color: #177ef3  ;
}

#teal {
    background-color: #008080 ;
}

#purple {
    background-color: #d411ba;
}

#dark-blue {
    background-color: #0A75AD;
}

#orange {
    background-color: #f1871c;
}

/* Color selected styles */
body.red, .left-container .created-notes .notes-list.red {
    background-color: #f59694;
    border-right: 10px solid #f59694;
}

body.green, .left-container .created-notes .notes-list.green {
    background-color: #66bb6a;
    border-right: 10px solid #66bb6a;
}

body.amber, .left-container .created-notes .notes-list.amber {
    background-color: #fad259;
    border-right: 10px solid #fad259;

}

body.blue, .left-container .created-notes .notes-list.blue {
    background-color: #42a5f5;
    border-right: 10px solid #42a5f5;

}

body.gray, .left-container .created-notes .notes-list.gray {
    background-color: #bdbdbd;
    border-right: 10px solid #bdbdbd;

}

body.pink, .left-container .created-notes .notes-list.pink {
    background-color: #11bef8 ;
    border-right: 10px solid #11bef8 ;

}

body.teal, .left-container .created-notes .notes-list.teal {
    background-color: #07abab ;
    border-right: 10px solid #07abab ;

}

body.purple, .left-container .created-notes .notes-list.purple {
    background-color: #cea5f5 ;
    border-right: 10px solid #cea5f5  ;

}

body.dark-blue, .left-container .created-notes .notes-list.dark-blue {
    background-color: #0b8cd2;
    border-right: 10px solid #0b8cd2;

}

body.orange, .left-container .created-notes .notes-list.orange {
    background-color: #fca54d;
    border-right: 10px solid #fca54d;

}

.left-container .update-delete_menu.active {
    top: 38px;
    transition: 0.4s ease;
}

.left-container .update-delete_menu .update.active {
   opacity: 0; 
   transition: opacity 0.2s ease;

}

.notes-list.active {
  background-color: #f7abc7 !important;
  border-right: 10px solid #f7abc7 !important;
}

.selected-note.active {
 transition: opacity 0.4s ease;
 opacity: 1;
 background-color: #fff;
}

.selected-note.active .icon {
    opacity: 1;
}

.selected-note.active .icon i {
   opacity: 1;

}

/* .notes-list:hover .selected-note {
    opacity: 1;   
 } */

 .saveUpdateIcon {
    background-color: #ef5350;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
 }

 .saveUpdateIcon i {
    color: #fff;
    margin-top: -2px;
    margin-left: 4px;
 }

 .saveUpdateIcon.active {
     transition: scale 0.3s ease;
     opacity: 1;
 }

 .saveUpdateIcon:hover {
    scale: 1.1;
 }

/* || RESPONSIVENESS */

@media screen and (max-width: 950px) {
    
    .left-container h1 {
        font-size: 35px;
    }

 .update-delete_menu button {
        width: 42px;
        height: 42px;
        font-size: 28px;
    }

 .modification-menu .update-delete_menu .update i {
    font-size: 24px;
  }  

    .left-container .created-notes {
        flex-direction: column;
        margin-top: 100px;
    }
    .left-container .modification-menu {
        padding-inline: 20px 50px;
       
      }  
    
}

@media screen and (max-width: 700px){

    .left-container{
       display: none;
       transition: all 0.2s linear;
      }

      .left-container h1 {
        font-size: 50px;
    }

    .update-delete_menu button {
        width: 50px;
        height: 50px;
        font-size: 25px;
        
    }

    .update-delete_menu .delete i {
        font-size: 30px;
    }

      .left-container .modification-menu {
        width: 100%;
        max-width: 800px;
        padding-inline: 50px;
       
      }  
      
      .left-container .update-delete_menu {
        right: 50px;        
    }

      .notes-list:not(:first-child) {
        width: 90%;
      }   
  
      .right-container{
        display: block;
        width: 100%;
        transition: all 0.2s linear;
      }

      .created-notes {
        width: 100%;
      }
  
    .left-container.active {
        max-width: 100%;
        display: block;
        width: 100%;
        transition: all 0.2s linear;
    }

    .left-container.active .created-notes {
        flex-direction: column;
        margin-top: 120px;
    }

    .left-container.active .created-notes .modification-menu {
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
    }

    .left-container.active .add-note {
        left: 70%;
    }

    .left-container.active  .update-delete_menu {
        justify-content: flex-end;
    }


    .right-container.active {
      display: none;
      transition: all 0.2s linear;
    }

    .add-note.active {
      right: 40px;
      transition: all 0.2s linear;

    }

}

@media screen and (max-width: 430px) {

    :root {
        --STANDERED-PADDING: 10px 10px;
    }

    .right-container {
        padding: 35px 15px;
    }

    .settings button, .update-delete_menu button,   .saveUpdateIcon {
        width: 44px;
        height: 44px;
        font-size: 24px;
    }

    .add-note__box .date {
        opacity: 0;
    }

    .left-container h1 {
        font-size: 38px;
        margin-top: 0;
    }

}   


